## Generate setters that return 'this' instead of 'void' (default: false).
lombok.accessors.chain =  true

## When generating equals and hashCode for classes that extend something (other than Object),
## either automatically take into account superclass implementation (call), or don't (skip),
## or warn and don't (warn). (default = warn).
lombok.equalsAndHashCode.callSuper = CALL

## If true, fields without any access modifier, in any file (lombok annotated or not) are marked as private.]
## Use @PackagePrivate or an explicit modifier to override this.
lombok.fieldDefaults.defaultPrivate = true
